        #top-bar{
            display:flex;
            width:100%;
            
            
        }
        .top-bar-inner{
            display:flex;
            margin-left: 18%;
        }
        .top-bar-inner >img{
            
            width:80%;
            height:18px;
        }
        .top-bar-inner > label{
            margin-left:5px;
        }
        .top-bar-inner > select{
            border: none;
            margin-top:-13px;
        }
        .top-bar-middle{
            margin-top:-13px;
            margin-left: 9%;
        }
        .top-bar-middle > p{
            font-size:14px;
            margin-left: -2%;
            font-family: normal;
        }
        .top-bar-right{
            margin-left: 18%;
            display:flex;
        }
        .top-bar-right-inner{
            display:flex;
            margin-top: -13px;
        }
        .top-bar-right-inner > button{
            border: none;
            background-color:white;
        }
        .top-bar-right > select{
            border: none;
            width:15px;
            margin-top:-13px;
        }
        .top-right{
            display:flex;
            margin-top:2px;
            margin-left:10px;
        }
        .left-img{
            height:16px;
        }
        .right-image {
            margin-top:-10px;
            margin-left:5px;
            width:50%;
            height:35px;
            border: none;
            background-color:white;
        }
        .right-image >div > img {
            margin-left:-3px;
            width: 23px;
            height: 20px;
        }
                .overview{
           margin: auto;
        }
        .page-header {
           height: 62px; 
           margin-left: 40%;
           
           width: 30%;
        } 
        .page-header > img {
            margin: auto;
            width: 55%
        }
        .nav{
            display: flex;
            flex-direction: row;
            margin-left: 22%;
        }
        .nav>p{
            margin-right: 2%;
            font-size:12px;
            letter-spacing: 1px;
            
        }
        .nav>p:hover{
            font-weight: bold;
            
        }
        .nav> button{
            background-color:white;
            border: none;
        }
       
        .nav>button>img{
            margin-top: 6px;
            width: 25px;
            height: 13px;
        }
        .first-container {
            margin-left: 13%;
        }
        .trouble-container{
            display:flex;
            margin-left:15%;
        }
        .trouble-inner-container1 > p {
            color:#88817f;
            font-size: 12px;
            font-family: sans-serif;


        }
        .trouble-inner-container1 > p:hover{
            color:rgba(0, 0, 0, 0.801);
            text-decoration: underline;
        }
        .trouble-inner-container1 > p > span{
            color:#88817f;
            font-size: 12px;
            font-weight: 500;
            font-family: sans-serif;
        }
        
        .trouble-inner-container1 > p > span:hover{
            color:#88817f;
            text-decoration: none;
        }
        .trouble-inner-container-div{
            margin-left: 2%;
            margin-top: 20px;
           
           
        }
        /* .trouble-inner-container-div > img{
            width: 80%;
            background-color:black;

        } */
        .box{
            margin-top:10px;
        }
        .box > label{
            margin-left:32%;
            
            font-size: 12px;
            font-family: sans-serif;
            font-weight:600;
        }
        .box >select{
            border: none;
            margin-left: -2px;
        }
        .trouble-inner-container2{
            width:40%;
            margin-left:4%;
        }
        .paragraph1{
            font-size: 22px;
            font-family: sans-serif;
            font-weight:550;    
            line-height:10px;
        }
        .paragraph2,.paragraph4{
            font-size: 14px;
            font-family: sans-serif;
            line-height:15px;
        }
        .paragraph3{
            font-size: 14px;
            font-family: sans-serif;
            font-weight:650;    
            
        }
        .middle-div{
           overflow: hidden;
            
        }
        .middle-div>img{
            width: 5%;
            height: 5%;
            border-radius:50%;
            
        }
        .button-group{
            width: 100%;

        }
        .button-group > button{
            width: 10%;
            height: 35px;
            background-color:white;
            border: 1px solid rgba(128, 128, 128, 0.431);
        }
        .button-group > button:hover{
            background-color:black;
            font-weight:700;
            color: white;
        }
        .paragraph5{
            font-size:12px;
            font-family: sans-serif;

        }
        .paragraph5 >span{
            font-weight: 600;
            text-decoration: underline;
        }
        .button-group1 >button{
            width: 70%;
            height:50px;
        }
        .bt1{
            margin-top:10px;
            background-color:orangered;
            color:white;
            font-weight:600;
            border: none;
            font-size: 16px;
        }
        
        .bt2{
            margin-top:15px;
            background-color:white;
            color:black;
            font-weight:600;
            border: 1px solid rgba(128, 128, 128, 0.431);
            font-size: 16px;
        }

        .paragraph6{
            font-size:12px;
            font-family: sans-serif;
            letter-spacing:0.25px;
            font-weight: 600;
            text-decoration: underline;
        } 
        .button-group2{
            margin-left: 8px;
        }
        .bt3, .bt4{
            margin-left: 3px; 
            width:33%;
            height:31px;
            border: none;
        }
        .bt3:hover, .bt4:hover, .bt5:hover, .bt6:hover{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
        .li-group{
            margin-top: 10px;
            font-size:12px;
            line-height:15px;
            font-family: sans-serif;

        }
        .button-group3{
            margin: 50px;
            margin-left: 37%;
            margin-bottom: -50px;
        }
        .bt5{
            background-color:white;
            border: 1px solid rgba(128, 128, 128, 0.431);
            width: 19%;
            height: 35px;
            font-family: sans-serif;
            font-weight: 550;
        }
        .bt6{
            background-color: rgba(128, 128, 128, 0.431);
            border: 1px solid rgba(128, 128, 128, 0.431);
            width: 19%;
            height: 35px;
           
        }


        .slider-box{
            margin-top: 5%;
            margin-left: 13%;
            display: flex;
            text-align: center;
            

        }
        .slider-box div {
            padding: 0.5px;
            margin: 5px;
        }
        .slider-box img {
            width: 200px;
            height:350px;
            
        }
        .p1{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 12px;
        }
        .p2{
             font-size: 12px;
             margin-top:-10px;
        }


        .carousol {
             display: flex;
        }
        .hide {
             display: none;
        }
        .silder-btn {
             height: 40px;
             color: white;
             background-color:black;
             border: none;
             margin-top: 15.5%;
             width:40px;
             border-radius: 50%;
             cursor: pointer;
             font-weight:1000;
        }

        .last-para{
            margin-left: 20%;
            text-align: center;
            width:55%;
        }
        .last-para > p:nth-child(1),p:nth-child(3){
            font-size:16px;
            font-family: sans-serif;
            font-weight: 600;
            margin-top:10%;

        }
        .last-para > p:nth-child(2),p:nth-child(4){
            font-family: sans-serif;
            font-size: 14px;
        }

        .btn-last{
           margin-left:38%;
           width:20%;
           height:45px;
           background-color:orangered;
           border: none;
           color:white;
           font-size:14px;
        }











        .footer{
            display: flex;
            margin: 12% auto auto auto;
            width: 80%;
        }
        .footer-div{
            margin: 2% -1px auto auto;
        }
        .footer-div > h4{
            font-size: 11px;
            font-family: sans-serif;
            font-weight: 900;
            letter-spacing: .5px;
        }
        .footer-div > p{
            font-size:14px;
            letter-spacing: .5px;
        }
        .footer-div > p:hover{
            font-weight: bold;
        }
        .footer-end{
            margin: 10% auto auto auto;
            text-align: center;
        }
        .footer-end > h5{
            font-family: sans-serif;
        }
        .footer-end > h5 >span{
            text-decoration: underline;
        }
        .footer-end > p{
            font-size: 12px;
            margin-top: -12px;
        }